
.profile {
    border: 2px solid #ffffff; 
    padding: 20px; 
    height: 500px;
    padding-top: 50px; 
    text-align: center; 
    background-color: #ffffff;
    margin-right: 5% ;
    border-radius: 20px;
    position: relative;
  }
  
  .profile img {
    max-width: 100px; 
    border-radius: 50%; 
  }
  
  .profile h1 {
    margin-top: 10px; 
  }
  
  .profile p {
    margin: 5px 0; 
  }
  
  /* Estilo para o botão */
  .agendar {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno (topo/baixo, esquerda/direita) */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Borda arredondada */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
  }

  /* Estilo quando o cursor está sobre o botão */
  .agendar:hover {
    background-color: #0056b3; /* Cor de fundo alterada no hover */
  }
